<nav *ngIf="chart.data.length > 1" class="navbar navbar-light bg-light justify-content-between">
  <div class="row row-no-gutters">

    <div class="col-sm-4">
      <form>
        Select chart type
        <select [(ngModel)]="chartType" (ngModelChange)="changeType($event)" name="chartTypeSelect"
          class="browser-default custom-select">
          <option value="LineChart">Line Chart
          <option value="ScatterChart">Scatter Chart
        </select>
      </form>
    </div>

    <div class="col-sm-4">
      <form class="form-inline">From
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="fromDatePicker" [(ngModel)]="fromTime"
              ngbDatepicker #fromDatePicker="ngbDatepicker" (ngModelChange)="onDateSelection($event)">
            <div class=" input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="fromDatePicker.toggle()"
                type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-3">
      <form class="form-inline">To
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="toDatePicker" [(ngModel)]="toTime" ngbDatepicker
              #toDatePicker="ngbDatepicker" (ngModelChange)="onDateSelection($event)">
            <div class=" input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="toDatePicker.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="chart.data.length < 1" class="alert alert-danger text-center" role="alert">
  Please select data on the left side
</div>

<div *ngIf="chart.data.length > 1" (window:resize)="onWindowResize($event)">
  <google-chart style="width: 100%" [title]="chart.title" [type]="chart.type" [data]="chart.data"
    [columnNames]="chart.columnNames" [options]="chart.options">
  </google-chart>
</div>