<google-chart style="width: 100%"
  [title]="chart1.title" 
  [type]="chart1.type"
  [data]="chart1.data"
  [columnNames]="chart1.columnNames"
  [options]="chart1.options">
</google-chart>
<table style="width: 100%">
 <td style="width:10%">
  <google-chart
  [title]="chart2.title" 
  [type]="chart3.type"
  [data]="chart2.data"
  [columnNames]="chart2.columnNames"
  [options]="chart2.options">
</google-chart>
 </td>
<td style="width:50%">
  <google-chart style="width:100%"
  [title]="chart2.title" 
  [type]="chart2.type"
  [data]="chart2.data"
  [columnNames]="chart2.columnNames"
  [options]="chart2.options">
</google-chart>
</td>
</table>
